<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="demo_icon.gif"  sizes="16x16"> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="styles.css">
    <title>Books App</title>
</head>
<body>
    <header>
        <h2>Best Book</h2>
        <h3 style="text-align: center; margin-top: 35px;">Find Your Favourit Book</h3>
        <Button><a href="/" style="text-decoration: none;color: white; font-size: 20px;">Home</a></Button>
        <Button><a href="/search" style="text-decoration: none;color: white; font-size: 20px;">Search Your Book</a></Button>
      </header>
    <header>
     
        
    </header>
    <form action="/search/new" method="POST">
        <input name="search" id="text" type="text" placeholder="Enter a title or author">
        <section>
        <label for="">Title<input type="radio" name="radio" id="title" value="title"></label><br></section>
        <section>
        <label for="">Author<input type="radio" name="radio" id="author" value="author"></label><br></section>
        <button>Search The Google Book API</button>
    </form>
</body>
</html>