body {
  background-color: rgb(97, 97, 97);
}
div {
  margin-left: 1.5%;
  width: 97%;
  background-color: silver;
}
img {
  margin-left: 20%;
  margin-top: 10px;
  width: 60%;
}

header {
  color: white;
  /* height: 250px; */
  margin-bottom: 50px;
}
header h2 {
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
}

main div {
  margin-top: 20px;
}

.books h3,
.books h4 {
  text-align: center;
}
.books p {
  width: 90%;
  margin-left: 5%;
  /* background-color: red; */
  margin-bottom: 10px;
}
.books {
  margin-bottom: 50px;
}
/* end of Show Page */

/* Start Of Search Page */
/* form {
  margin-top: 50px;
} */

#text {
  width: 90%;
  height: 35px;
  margin: 5%;
}

#titlebtn {
  cursor: pointer;

  width: 20px;
}
#author {
  cursor: pointer;
}

section {
  margin-top: 20px;
  width: 80%;
  margin-left: 7%;
  background-color: silver;
  text-align: center;
  padding: 15px;
}

button {
  margin-top: 20px;
  margin-left: 6%;
  height: 40px;
  width: 90%;
  background-color: black;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgb(12, 12, 12);
  font-size: 15px;
}

/* Results */

.books {
  border: 3px solid black;
  width: 70%;
  margin-left: 15%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}
#list {
  color: white;
}

.updateForm form input {
  height: 130px;
  text-align: center;
  margin-left: 3%;
  width: 260px;
  margin-bottom: 5%;
  padding: 20px;
}
#title {
  height: 130px;
  text-align: center;
  margin-left: 3%;
  width: 260px;
  margin-bottom: 5%;
  padding: 20px;
}
